<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='format.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ fruit.official_name }}</title>
</head>
<body>
    <h1>Edit {{ fruit.official_name }}</h1>
    <form action="/fruits/{{ fruit.id }}/update" method="post">
        <input type="text" name="official_name" value="{{ fruit.official_name }}" required>
        <input type="text" name="scientific_name" value="{{ fruit.scientific_name }}">
        <input type="text" name="image_url" value="{{ fruit.image_url }}">
        <input type="text" name="cultivar" value="{{ fruit.cultivar }}">
        <button type="submit">Update</button>
    </form>
</body>
</html>