<!-- list_fruits.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='format.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits List</title>
</head>
<body>
    <div id="top">
        <h1>Fruitproject</h1>
    </div>
    <div id="menu">
        <nav>
            <a href="/">Main</a>
            <a href="/fruits">Fruits</a>
            <a href="/users">Users</a> 

            
        </nav>

    </div>
    <h2>Fruits List</h2>
    <a href="/fruits/add">Click me to add new fruit</a>
    <form action="/fruits" method="get">
        <input type="text" name="search_key" placeholder="Search fruits">
        <button type="submit">Search</button>
    </form>
    <ul class="fruitlist">
        {% for fruit in fruits %}
            <li>
                <a href="/fruits/{{ fruit.id }}">{{ fruit.official_name }}</a>
                <!--form action="/fruits/{{ fruit.id }}/delete" method="post" style="display:inline;">
                    <button type="submit">Delete</button-->
                </form>
            </li>
        {% endfor %}
    </ul>
    {% if pagination.has_prev %}
        <a href="{{ url_for('show_list_and_query_fruits', page=pagination.prev_num) }}">Previous</a>
    {% endif %}
    {% if pagination.has_next %}
        <a href="{{ url_for('show_list_and_query_fruits', page=pagination.next_num) }}">Next</a>
    {% endif %}
</ul>
<a href="/">Back to Home</a>
</body>
</html>