<!-- show_fruit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='format.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ fruit.official_name }}</title>
</head>
<body>
    <div id="top">
        <h1>Fruitproject</h1>
    </div>
    <div id="menu">
        <nav>
            <a href="/">Main</a>
            <a href="/fruits">Fruits</a>
            <a href="/users">Users</a> 
            <a href="/places">Places</a>
            
        </nav>

    </div>
    <h2>{{ fruit.official_name }}</h2>
    <p>Scientific Name: {{ fruit.scientific_name }}</p>
    <p>Cultivar: {{ fruit.cultivar }}</p>
    <p><a href="/fruits/{{ fruit.id }}/reviews">View Reviews</a></p>
    <a href="/fruits/{{ fruit.id }}/edit">Edit</a>
    <form action="/fruits/{{ fruit.id }}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
    <a href="/fruits">Back to List</a>
</body>
</html>