<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='format.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Project</title>
</head>
<body>
<!-- edit_user.html -->
    <h2>Edit User</h2>
    <form action="/users/{{ user.id }}/update" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ user.name }}"><br>
        <button type="submit">Update</button>
    </form>

</body>
</html>