<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='format.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Project</title>
</head>
<body>
    <div id="top">
        <h1>Fruitproject</h1>
    </div>
    <div id="menu">
        <nav>
            <a href="/">Main</a>
            <a href="/fruits">Fruits</a>
            <a href="/users">Users</a> 
            <a href="/places">Places</a>
            
        </nav>

    </div>
<!-- edit_user.html -->
    <h2>Edit User</h2>
    <form action="/users/{{ user.id }}/update" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ user.name }}"><br>
        <button type="submit">Update</button>
    </form>

</body>
</html>